<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favico-k.ico">

    <title>Kibirr</title>

    <% include /src/include/styles.ejs %>

</head>

<body>
    <div class="kb-content">
        <% include /src/include/header.ejs %>

            <main class="kb-home-main">
                <section class="kb-banner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 offset-xl-1 col-xl-5">
                                <div class="kb-banner-data" data-aos="fade-up" data-aos-duration="1200">
                                    <h1>Kibirr turns Your phone in to your wallet!</h1>
                                    <p>With our fast and safe peer to peer payment application. You can send and request money to from anyone. While making purchases all from your phone!</p>
                                    <a href="javascript:void(0)" class="kb-btn" data-toggle="modal" data-target="#kb-modal">Sign Me Up</a>
                                    <div class="kb-app-data">
                                        <h4>Click to Download our App!</h4>
                                        <div class="d-flex">
                                            <button type="button" data-toggle="modal" data-target="#kb-modal"><img src="images/app-store.svg" alt=""></button>
                                            <button type="button" data-toggle="modal" data-target="#kb-modal"><img src="images/play-store.svg" alt=""></button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="kb-banner-img" data-aos="fade-up" data-aos-duration="1200">
                                    <img src="images/home-slider.svg" alt="">
                                </div>
                            </div>

                        </div>

                    </div>


                </section>
                <section class="kb-why">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center" data-aos="fade-up" data-aos-duration="1200">
                                <h2 class="kb-title">Why Kibirr is necessary!</h2>
                                <p class="kb-text">Kibirr is a fast and safe peer to peer payment application. With just a few steps, you can send and request money to/from anyone.</p>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-xl-9 kb-why-list">
                                <div class="row">
                                    <div class="col-md-6" data-aos="fade-up" data-aos-duration="1200">
                                        <div class="kb-why-data">
                                            <h3 class="kb-subtitle">We save you time!</h3>
                                            <p>Kibirr is a fast and safe peer to peer payment application. With just a few steps, you can send and request money to from anyone.</p>
                                            <a href="javascript:vodi(0)" data-toggle="modal" data-target="#kb-modal">Sign Me Up Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 kb-order" data-aos="fade-up" data-aos-duration="1200">
                                        <div class="kb-why-img">
                                            <img src="images/girl-calendar.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" data-aos="fade-up" data-aos-duration="1200">
                                        <div class="kb-why-data">
                                            <h3 class="kb-subtitle">We track your payments!</h3>
                                            <p>Kibirr is a fast and safe peer to peer payment application. With just a few steps, you can send and request money to/ from anyone.</p>
                                            <a href="javascript:vodi(0)" data-toggle="modal" data-target="#kb-modal">Sign Me Up Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 kb-order" data-aos="fade-up" data-aos-duration="1200">
                                        <div class="kb-why-img">
                                            <img src="images/track-payment.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" data-aos="fade-up" data-aos-duration="1200">
                                        <div class="kb-why-data">
                                            <h3 class="kb-subtitle">We turn your phone into a wallet!</h3>
                                            <p>Kibirr is a fast and safe peer to peer payment application. With just a few steps, you can send and request money to/ from anyone.</p>
                                            <a href="javascript:vodi(0)" data-toggle="modal" data-target="#kb-modal">Sign Me Up Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 kb-order" data-aos="fade-up" data-aos-duration="1200">
                                        <div class="kb-why-img">
                                            <img src="images/phone-wallet.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" data-aos="fade-up" data-aos-duration="1200">
                                        <div class="kb-why-data">
                                            <h3 class="kb-subtitle">We track your payments!</h3>
                                            <p>Kibirr is a fast and safe peer to peer payment application. With just a few steps, you can send and request money to from anyone.</p>
                                            <a href="javascript:vodi(0)" data-toggle="modal" data-target="#kb-modal">Sign Me Up Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 kb-order" data-aos="fade-up" data-aos-duration="1200">
                                        <div class="kb-why-img">
                                            <img src="images/tract-world.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="kb-how">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center" data-aos="fade-up" data-aos-duration="1200">
                                <h2 class="kb-title">How easy is Kibirr.</h2>
                                <p class="kb-text">Kibirr is a fast and safe peer to peer payment application. With just a few steps, you can send and request money to/from anyone.</p>
                            </div>
                        </div>
                        <div class="kb-how-data">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-3" data-aos="fade-up" data-aos-duration="1200">
                                            <div class="kb-how-list">
                                                <div>
                                                    <img src="images/cloud_download.svg" alt="">
                                                    <h3 class="kb-subtitle">Download</h3>
                                                    <p>Download Kibirr from the Apple Store or Goole Play store.</p>
                                                </div>
                                                <a href="javascript:vodi(0)" data-toggle="modal" data-target="#kb-modal">Sign Me Up Now</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3" data-aos="fade-up" data-aos-duration="1200">
                                            <div class="kb-how-list">
                                                <div>
                                                    <img src="images/assignment_turned.svg" alt="">
                                                    <h3 class="kb-subtitle">Sign Up</h3>
                                                    <p>You can sign up using your phone number or email address.</p>
                                                </div>
                                                <a href="javascript:vodi(0)" data-toggle="modal" data-target="#kb-modal">Sign Me Up Now</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3" data-aos="fade-up" data-aos-duration="1200">
                                            <div class="kb-how-list">
                                                <div>
                                                    <img src="images/account_balance.svg" alt="">
                                                    <h3 class="kb-subtitle">Link Account</h3>
                                                    <p>Link your bank account, Debit and Paypal with Kibirr.</p>
                                                </div>
                                                <a href="javascript:vodi(0)" data-toggle="modal" data-target="#kb-modal">Sign Me Up Now</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3" data-aos="fade-up" data-aos-duration="1200">
                                            <div class="kb-how-list">
                                                <div>
                                                    <img src="images/thumb_up.svg" alt="">
                                                    <h3 class="kb-subtitle">Enjoy</h3>
                                                    <p>Enjoy sending money across the globe.</p>
                                                </div>
                                                <a href="javascript:vodi(0)" data-toggle="modal" data-target="#kb-modal">Sign Me Up Now</a>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </section>
            </main>

            <% include /src/include/footer.ejs %>
    </div>

    <% include /src/include/scripts.ejs %>


</body>

</html>